<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="engskie09ApartmentSystem.Properties.Settings.engskie09apartmentsystemConnectionString"
            connectionString="server=localhost;user id=root;database=engskie09apartmentsystem;allowuservariables=True"
            providerName="MySql.Data.MySqlClient" />
        <add name="engskie09ApartmentSystem.Properties.Settings.engskie09apartmentsystemConString"
            connectionString="server=localhost;user id=root;database=engskie09apartmentsystem"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>