.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder,
.form-control[readonly="true"] + .form-control-placeholder
{
	font-size: 75%;
	transform: translate3d(0, -100%, 0);
	opacity: 1;
}

.form-control-placeholder
{
	position: absolute;
	top: 0;
	padding: 7px 0 0 13px;
	transition: all 200ms;
	opacity: 0.5;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder
{
	font-size: 75%;
	transform: translate3d(0, -100%, 0);
	opacity: 1;
}


.field.error button{
	background: #FFF6F6;
	border-color: #E0B4B4;
	color: #9F3A38;
	border-radius: '';
	-webkit-box-shadow: none;
	box-shadow: none;
}

.DatatableImage
{
	height : 100px;
	width : 100px ;
	vertical-align: middle;
}

.DatatableButton
{
	width : 4em ;
	vertical-align: middle
}