<div class="page-content" ng-init="set_ManageAttendance()">
	<div class="row">
		
		<header class="col-md-2" ng-include="'GeneralSession_SystemAssets_CSS-HTML/System_Header.html'"></header>

		<div class="col-md-8">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-12">
							<h3 class="card-header">Today Attendance</h3>
							<br>
							<div class="card">			
								<h5 class="card-header">Attendance List</h5>					
								<div class="card-body">								
									<table id="tbl_DailyAttendance" class="display" style=" text-align: center; font-size: 20px;">
										<thead>
											<tr>
												<th>Employee Name</th>
												<th>Time In</th>
												<th>Time Out</th>
												<th>Over Time</th>
											</tr>
										</thead>
										<tbody>																				        
										</tbody>
									</table>											
								</div>
							</div>
						</div>

					</div>
				</div>
				<div class="row">
				<div class="col-md-12">				  			
				</div>
				</div>
			</div>
		</div>

		<div class="col-md-2">

			<div class="row">						
				<div class="card" style="width: 18rem;">	
										
					<h5 class="card-header">
						<div id="set_CurrentDate"></div>
						<br>
						<div id="set_CurrentTime"></div>
					</h5>

					<div class="card-body">
						<div class="form-group row card-header">
							<div class="col">
								<h5 class="card-title" id="get_TotalEmployee_PresentWork">Todays Present: (Value)</h5>				
								<button type="button" class="btn btn-dark" ng-click="delete_attendance_information()">Reset Attendance</button>
							</div>
						</div>
					
					</div>
				</div>
			</div>
			
		</div>

	</div>
</div>